
	<label>Movie ID </label>
	<br/>
    <input type="number" id="MovieId" />
    <br/>
    <input type="button" value="Get HTML" onclick="GetMovieHTML()"/>

    <div id="divResult">Muneeb</div>
@section endOfBody
{
    <script>
        function GetMovieHTML(){
            
            const myDiv = document.getElementById("divResult");
            
            const movieId = document.getElementById("MovieId");
            fetch("/Movies/"+movieId.value,
                    {
                        method: "GET",
                    })
                    .then(result => result.text())
                    .then(html => myDiv.innerHTML = html)
            
        }
       
    </script>
}